[HDP]
name=HDP
baseurl={{ repos_url_hdp }}
gpgcheck=1
gpgkey={{ repos_url_hdp }}/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1


[HDP-UTILS]
name=HDP-UTILS
baseurl={{ repos_url_hdp_utils }}
gpgcheck=1
gpgkey={{ repos_url_hdp }}/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
